* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.listing-skeleton-container {
  list-style: none;
  display: grid;
  gap: 15px;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media (max-width: 768px) {
  .listing-skeleton-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}

@media (max-width: 375px) {
  .listing-skeleton-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}